[Unit]
Description=Flask Portfolio
After=network.target

[Service]
User=jenkins
WorkingDirectory=/var/www/ls

ExecStart=/var/www/flaskapp/venv/bin/gunicorn \
--workers 3 \
--bind 0.0.0.0:8000 \
main:app

Restart=always

[Install]
WantedBy=multi-user.target
